.mainContainer {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-bottom: 30px;
    background-color: white;
}
.mainOne {
    position: relative;
    transition: .2s;
}
.mainOne:hover {
    transform: scale(1.03);
}
.foodComment {
    z-index: 1;
    position: absolute;
    font-size: clamp(54px, 16vw, 120px);
    color: white;
    left: clamp(10px, 3vw, 20px);
    top: -10px;
    font-family: 'Blinker', sans-serif;
}
.imgBig {
    width: 610px;
    height: 610px;
    filter: brightness(66%);
}
.mainTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}
.mainSmall {
    margin-left: 30px;
    padding: 0;
    transition: .2s;
    position: relative;
}
.mainSmall:hover {
    transform: scale(1.05);
}
.foodCommentSmall {
    z-index: 1;
    position: absolute;
    font-size: clamp(27px, 8vw, 60px);
    color: white;
    left: clamp(10px, 3vw, 20px);
    font-family: 'Blinker', sans-serif;
}
.imgSmall {
    width: 290px;
    height: 290px;
    filter: brightness(66%);
}
.sauceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h2 {
    font-size: clamp(24px, 8vw, 80px);
    margin-bottom: 30px;
    font-family: 'Blinker', sans-serif;
}
.sauce {
    background-color: white;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.oneSauce {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 15px;
    transition: .2s;
    position: relative;
    z-index: 1;
}
.oneSauce:hover {
    transform: scale(1.05);
}
.sauceComment {
    z-index: 1;
    position: absolute;
    font-size: 40px;
    color: white;
    left: 20px;
    font-family: 'Blinker', sans-serif;
}
.imgSauce {
    width: 200px;
    filter: brightness(66%);
}
.sauceComment {
    font-size: 24px;
    margin-top: 10px;
}
.adress {
    width: 950px;
    display: flex;
    margin: 60px auto;
}
.adressInfo {
    background-color: #e9e9e9;
    border-radius: 10px 0px 0px 10px;
    padding-left: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 475px;
}
.h4 {
    width: 400px;
    font-size: 45px;
    margin-bottom: 40px;
    font-family: 'Blinker', sans-serif;
}
.adressInfo p {
    font-size: 22px;
    margin-bottom: 5px;
    font-family: 'Blinker', sans-serif;
}

.adressPhoto {
    width: 475px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: -4px;
}

@media (max-width: 1020px) {
    .mainContainer {
        flex-direction: column;
        width: 100%;
    }
    .mainOne {
        margin-left: auto;
        margin-right: auto;
    }
    .mainTwo {
        width: 610px;
        flex-direction: row;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .mainSmall {
        margin-left: 0px;
    }
}

@media (max-width: 955px) {
    .adressContainer {
        border: none
    }
    .adress {
        width: 475px;
        flex-direction: column;
    }
    .adressInfo {
        padding-top: 30px;
        border-radius: 10px 10px 0 0;
        flex-direction: column;
    }
    .adressPhoto {
        border-radius: 0 0 10px 10px;
    }
}

@media (max-width: 670px) {
    .imgBig {
        width: clamp(238px, 85vw, 570px);
        height: auto;
    }
    .foodComment {
        color: white;
    }
    .mainTwo {
        width: clamp(238px, 85vw, 570px);
    }
    .foodCommentSmall {
        left: 3vw;
    }
    .imgSmall {
        width: clamp(104px, calc(42.5vw - 15px), 270px);
        height: auto;
    }
}

@media (max-width: 490px) {
    .mainContainer {
        margin-top: 40px;
    }
}

@media (max-width: 480px) {
    .adress {
        border: none;
        width: 100%;
        flex-direction: column;
        margin-bottom: 0px;
        padding-bottom: 0;
    }
    .adressInfo {
        border: none;
        border-radius: 0;
        padding-left: 10vw;
        padding-right: 10vw;
        flex-direction: column;
        width: 100%;
    }
    .adressPhoto {
        width: 100%;
        border-radius: 0;
    }
    .h4 {
        width: auto;
        font-size: clamp(26px, 8.5vw, 40px);
    }
    .adressInfo p {
        font-size: clamp(18px, 6vw, 28px);
        margin-bottom: 5px;
    }
}