.main {
    margin: auto;
    font-size: 50px;
}

.headerContainer {
    height: 160px;
    display: flex;
}
.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 22px;
    box-shadow: 0px 5px 4.5px rgb(223, 223, 223);
}
.activeLink,
.nonactiveLink {
    padding: 5px;
    margin: 5px auto;
    width: 100px;
    text-align: center;
}
.activeLink {
    color: rgb(0, 162, 255);
    border-bottom: 3px solid rgb(0, 162, 255);
}

#form {
    background-color: rgba(0, 162, 255, 0.827);
    color: white;
    font-size: 30px;
}